## Creating Dictionary

In [5]:
# creating empty dictionary
user_a = {}
print(type(user_a))
print(user_a)


user_b = dict()
print(type(user_b))
print(user_b)

<class 'dict'>
{}
<class 'dict'>
{}

In [20]:
# creating dictionary using initial values

user_a = {
    'name' : 'Yash Khati',
    'University' : "GEHU",
    3 : 8,
    (1,2) : "tuple Key",
    True : "Yes",
    None : "None Value",
}
print(user_a)


user_b = dict(name = 'Yash',University = "GEHU" )
user_b[3] = 8
user_b[(1, 2)] = "tuple Key"
user_b[True] = "Yes"

print(user_b)


user_c = dict([
    ('Name', 'Yash'),
    (3, 8),
    (True, "Yes"),
    (None, "Nothing"),
    ((1, 2), "tuple key")
])

print(user_c)

{'name': 'Yash Khati', 'University': 'GEHU', 3: 8, (1, 2): 'tuple Key', True: 'Yes', None: 'None Value'}
{'name': 'Yash', 'University': 'GEHU', 3: 8, (1, 2): 'tuple Key', True: 'Yes'}
{'Name': 'Yash', 3: 8, True: 'Yes', None: 'Nothing', (1, 2): 'tuple key'}

In [1]:
user_a = {
    'name' : 'Yash Khati',
    1 : 8,
    'University' : "GEHU",
    (1,2) : "tuple Key",
    True : "Yes",
    None : "None Value",
}

print(user_a[1]) 

# Note ->  1 and True act as same i.e  print(user_a[1]) # "Yes"

Yes

## Dictionary functions

In [3]:
# Updation of key-value pair
user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    (1,2) : "tuple Key",
    True : "Yes",
}

user_a['Roll_No'] = 2018821 

print(user_a) # {'name': 'Yash Khati', 'university': 'GEHU', 'Roll_No': 2018821, (1, 2): 'tuple Key', True: 'Yes'}

{'name': 'Yash Khati', 'university': 'GEHU', 'Roll_No': 2018821, (1, 2): 'tuple Key', True: 'Yes'}

In [7]:
# update()

user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    (1,2) : "tuple Key",
    True : "Yes",
}

user_a.update( {True : "No", 'name' : "Ayush Rawat"} )
print(user_a) # {'name': 'Ayush Rawat', 'university': 'GEHU', 'Roll_No': 2018877, (1, 2): 'tuple Key', True: 'No'}



# updation using another dictionary
user_b = {
    "name" : "Yash",
    "university" : "GEHU",
    "Semester" : 8,
}

user_a.update(user_b)
print(user_a) # {'name': 'Yash', 'university': 'GEHU', 'Roll_No': 2018877, (1, 2): 'tuple Key', True: 'No'}

{'name': 'Ayush Rawat', 'university': 'GEHU', 'Roll_No': 2018877, (1, 2): 'tuple Key', True: 'No'}
{'name': 'Yash', 'university': 'GEHU', 'Roll_No': 2018877, (1, 2): 'tuple Key', True: 'No', 'Semester': 8}

In [10]:
# get(key, default value) to fetch value from dictionary

user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    (1,2) : "tuple Key",
    True : "Yes",
}

print(user_a.get('name'))

print(user_a.get('Section' , 'N/A'))

Yash Khati
N/A

In [11]:
user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    (1,2) : "tuple Key",
    True : "Yes",
}

# get all keys : 
print(user_a.keys()) # dict_keys(['name', 'university', 'Roll_No', (1, 2), True])

# get all values : 
print(user_a.values()) # dict_values(['Yash Khati', 'GEHU', 2018877, 'tuple Key', 'Yes'])

# get all items : 
print(user_a.items())
# dict_items([('name', 'Yash Khati'), ('university', 'GEHU'), ('Roll_No', 2018877), ((1, 2), 'tuple Key'), (True, 'Yes')])

dict_keys(['name', 'university', 'Roll_No', (1, 2), True])
dict_values(['Yash Khati', 'GEHU', 2018877, 'tuple Key', 'Yes'])
dict_items([('name', 'Yash Khati'), ('university', 'GEHU'), ('Roll_No', 2018877), ((1, 2), 'tuple Key'), (True, 'Yes')])

In [12]:
# pop(element, default)

user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    False : "No",
}

print( user_a.pop("name"))

print(user_a.pop('Section', "No Available Value"))

Yash Khati
No Available Value

In [15]:
# popitem()

user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    False : "No",
}

print( user_a.popitem())

(False, 'No')

In [17]:
# setdefault
user_a = {
    'name' : 'Yash Khati',
    'university' : "GEHU",
    'Roll_No' : 2018877,
    False : "No",
}
print(user_a.setdefault("name", "Ayush")) # Yash Khati
print(user_a.setdefault("Section", "C")) # C
print(user_a) # {'name': 'Yash Khati', 'university': 'GEHU', 'Roll_No': 2018877, False: 'No', 'Section': 'C'}

Yash Khati
C
{'name': 'Yash Khati', 'university': 'GEHU', 'Roll_No': 2018877, False: 'No', 'Section': 'C'}

In [2]:
# copy()
user_a = {
    "name" : "Yash",
    "university" : "Gehu",
    "Roll No" : {
        "univ" : 2018177,
        "stud id" : 2001121
    }
} 

user_b = user_a.copy()
print(user_b) # {'name': 'Yash', 'university': 'Gehu', 'Roll No': {'univ': 2018177, 'stud id': 2001121}}

user_b['name'] = 'Ayush'
user_b['Roll No']['univ'] = 20112

print(user_a) # {'name': 'Yash', 'university': 'Gehu', 'Roll No': {'univ': 20112, 'stud id': 2001121}}

print(user_b) # {'name': 'Ayush', 'university': 'Gehu', 'Roll No': {'univ': 20112, 'stud id': 2001121}}

{'name': 'Yash', 'university': 'Gehu', 'Roll No': {'univ': 2018177, 'stud id': 2001121}}
{'name': 'Yash', 'university': 'Gehu', 'Roll No': {'univ': 20112, 'stud id': 2001121}}
{'name': 'Ayush', 'university': 'Gehu', 'Roll No': {'univ': 20112, 'stud id': 2001121}}

In [5]:
# fromkeys()

ls = [1, 2, 3]

user_A = dict.fromkeys(ls,33)
print(user_A)

{1: 33, 2: 33, 3: 33}